.mat-snack-bar-container {
  background: #FFFFFF !important;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07) !important;
  border-radius: 8px !important;
  max-width: 24px !important;
  padding: 8px !important;
  color: #000 !important;
  display: flex !important;
  align-items: center !important;

  .snack-icon {
    height: 48px;
    width: 48px;
    background: #7DDFC3;
    color: #7DDFC3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 12px;

    .mat-icon {
      height: 18px;
      width: 18px;
      line-height: 18px;
      text-align: center;
      font-size: 14px;
      background: #FFFFFF;
      border-radius: 50%;
      font-weight: bold;
    }

    &.snack-error {
      background: #FF647C;
      color: #FF647C;
    }
  }
}